<a href="https://colab.research.google.com/github/shiromirai/vcs_Practice/blob/main/W5_HW3_Questions_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Week 5- Homework 3. Functions**

**Question 1.** Write a function named add that takes two numbers as arguments and returns their sum.

In [1]:
def add(num1,num2):
  return num1+num2

In [2]:
add(1,2)

3

**Question 2.** Write a function named average that takes a list of numbers and returns their average.

In [3]:
def average(numbers):
  for number in numbers:
    return sum(numbers)/len(numbers)

In [4]:
average([1,2,3])

2.0

**Question 3.**  Convert a given number of days into a combination of weeks and days.

In [5]:
def days_to_weeks(days):
  weeks=days//7
  days=days%7
  if days>1 and weeks>1:
    print(f"This month has {weeks} weeks and {days} days ")
  elif days>1 and weeks==1:
    print(f"This month has {weeks} week and {days} days ")
  elif days==1 and weeks==1:
    print(f"This month has {weeks} week and {days} day ")
  else:
    print(f"This month has {weeks} weeks and {days} day")

In [6]:
days_to_weeks(15)

This month has 2 weeks and 1 day

**Question 4.** Write a function named string_length that takes a string and returns its length without using the built-in len() function.

In [15]:
def string_leng(input):
  count=0
  for i in input:
    count+=1
  return count

In [8]:
string_leng("Hello")

5

 **Question 5.** Write a function named max_number that takes two numbers as arguments and returns the maximum of the two.

In [14]:
def max_number(number1, number2):
  return max(number1,number2)

In [10]:
max_number(1,2)

2

**Question 6.**Write a function named count_down that takes a number as an argument and prints all numbers from the number down to 1.

In [13]:
def count_down(number):
  for i in range(number,0,-1):
    print(i)

In [12]:
count_down(5)

5
4
3
2
1

**Question 7.** Write a function named multiply_list that takes a list of numbers as an argument and returns the product of all the numbers in the list.

In [16]:
def multiply(numbers):
  result=1
  for number in numbers:
    result*=number
  return result

In [17]:
multiply({1,2,1})

2